<div class="row">
	<div class="col-md-2 form-group">
		
	</div>
	<div class="col-md-4 form-group">
		<form class="pnr_form" action="<%=ticket_list_flights_path%>">
			<div class="col-md-8">
				<label>Enter your PNR</label>
				<input type="text" name="pnr" class="form-control">
			</div>
			<div class="col-md-4" style="margin-top: 20px;">
				<input type="submit" name="Submit" class="btn btn-primary">
			</div>
		</form>		
	</div>
	<div class="col-md-2 form-group">
		
	</div>
</div>
<script type="text/javascript">

		$('.pnr_form').validate({
        rules: {
            "pnr": {
                required: true,
            },
            
        }
    });

</script>